.header-top{
    position: relative;
    background-color: rgb(17, 53, 85);
}

.header-btn{
    display: flex;
    list-style-type: none;
    margin-top: 5px;
    align-items:center;
}

.header-btn li{
    font-size: 15px;
    padding: 10px;
    display: flex;
}

.header-btn li i{
    color:rgb(179, 237, 251);
    margin-right: 8px;
}

.header-btn li a{
    text-decoration: none;
    color: #fff;
}

.btn{
    display: flex;
    gap: 25px;
}

.header-top-btn{
    background-color: #FF5A3d;
    color: #fff;
    padding: 10px 20px;
    border: none;
}

.navbar-collapse{
    margin-left: 35px;
}

.nav-item{
    padding-right: 35px;
    margin-right: 35px;
}

.nav-link{
    color: #000;
}

.navbar-nav:hover{
    color: rgb(179, 237, 251);
}

.header-actions{
    display: flex;
    gap: 15px;
}

.header-actions-btn{
    background-color: #fff;
    border: none;
    box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1);
    width: 50px;
    height: 50px;
}